cours/programmation/Python/projets-perso/
cours/programmation/CPP/lexicography_project/
.vscode/
cours/.vscode/
**/.DS_Store
.github/
./.github/workflows/
**/__pycache__/
cours/programmation/conception_web/TPs/MINI-PROJET/